form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
  }
  
  input {
    display: block;
    /* Center an Input Field Using “margin” */
    margin: auto;
  }
  
  input:focus {
    outline: 2px solid royalblue;
  }
  
  .error {
    color: red;
    margin-top: 4px;
    font-size: 11px;
  }
  .hidden {
    display: none;
  }
  